<div class="atm-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" *ngIf="isLoading$ | async"><at-loading></at-loading></div>
      <div class="col-md-8" *ngIf="!(isLoading$ | async) && atm">
        <h1 class="display-3">{{atm.id}} | {{atm.name}}</h1>
        <h2 class="display-4">{{atm.model}}</h2>
        <p class="lead">{{atm.address}}</p>
        <p>{{atm.vendor}}</p>
        <button type="button" class="btn btn-primary" (click)="deleteAtm()">Delete ATM</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
